/*border-box gør at padding forbliver inde i boxen*/

* {
    box-sizing: border-box;
}

/*generel font-size for hele dokumentet. Kan evt ændres efter ligthhouse testen viste at noget tekst var for småt, ellers skal der ses på hver enkelt styling*/

html {
    font-size: 62.5%;
}

/*Margin'en er auto, så den content'en ligger sig i midten, 0 er for at fjerne de pre-indstillinger der er for websider*/

body {
    margin: 0 auto;
    padding-top: 80px;
    font-family: sans-serif;
}

/*header på alle sider*/
/*Header er fixed, så den følger med ned når der scrolles. Den er en parent og har fået flex på for, at de underliggende childelementer kan lave flex-grow. width fylder det hele ud. Top:0 for at den bliver helt øverst. padding 100 for i desktop at give lidt luft i begge sider.*/

header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 0px 100px;
    background-color: #EA5045;
    width: 100%;

}

/*Kea logo har flex-grow på for at placere sig på venstre siden af profil og menuen. height 50, så den fylder 50 og ikke er for stor*/
header .logo {
    height: 50px;
    flex-grow: 1;
}

/*Margin og height så det passer med logo heigt på 50px og logoet placere sig i midten. 24+13=37, 50-37=13, 13 øverst og nederst for logoet */
header .logo img {
    height: 24px;
    margin-top: 13px;

}


/*display:flex fordi den er parent til et child element der skal bruge flex. Margin og padding så burgermenu placerer sig rigtigt*/
header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

/* none gør at der ikke kommer små prikker foran li'erne*/
header nav ul li {
    list-style: none;

}

/*height og lineheight bestemmer højden på ul elementerne. padding mellem li'erne. "none" så der ikke kommer streg under links. blok gør at a-tagget er i en blok og ikke opfører sig underligt  */

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    font-size: 2rem;


}

/*profil ikonet*/
/*den røde boks er 50px, ikonet er 16px. det der er tilbage bliver divideret med 2 for at placere resultatet øverst i toppen, så det skubber ikonet ned på midten*/
.profile_icon {
    margin-top: calc((50px - 16px) / 2);
    margin-right: 16px;
}

/*burger ikonet. curser bliver til en hånd.*/
.menu_toggle {
    color: #ffffff;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/*===== index/loginsiden ====*/

.login {
    background-color: #c8d0d8;
}


/*----- kea logo til loginsiden ------*/
/*fjerner en pading over headeren*/
body.login {
    padding-top: 0;

}

/*header fylder så sectionwrapperen ikke hopper op*/
.login header {
    position: static;

}

/*height gør at det røde fylder. display flex gør at justefy-content:center virker, og ligger logoet i midten */
.login header .logo {
    height: 200px;
    display: flex;
    justify-content: center;
}

/*Margin placerer logo. height bestemmer logo højde*/
.login header .logo img {
    height: 34px;
    margin-top: 83px;
}

/*display flex gør at "glemt password" laver spacebetween og column virker på felx direction. Height placerer "glemtpassword" en passende distance væk, så den ikke overlapper med fb*/
.login .section_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 230px);
    min-height: 400px;
    max-width: 500px;
    margin: auto;
}

/*display flex gør at column virker*/
.loginform {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

/*-- fjerner den pre-lavede box---*/
.save_login {
    display: none;
}

/*--- laver en ny box som er rund og hvid. vertical align:middel gør at teksten centrere sig.  ---*/
.new_checkbox {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    vertical-align: middle;
    margin-right: 10px;
    position: relative;
}

/*Relative på fordi jeg har absolut på new chechbox når den er cheked. Muligvis behøver jeg ikke vertical-align: middel, men lader den blive på da den reagerede sidst. Måske har jeg lineheight på et sted.*/
.label_save_login {
    display: block;
    margin-bottom: 15px;
    position: relative;
    /* vertical-align: middle;*/
}


/*--- laver den røde check knap som har samme input som den anden box. absolut plasere den røde i den hvide i midten ---*/
.label_save_login input:checked ~ .new_checkbox::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #ea5045;
}

/*width fylder 100% af max-widt på 500px fra section_wrapper. Borderradius gør kanterne runde. Margin auto placere i midten. Margin 0 og 15 placere venstere og bunden*/
.continue {
    background-color: #ea5045;
    color: white;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 50px;
    margin: 0 auto 15px;
    font-weight: bold;
}

/*padding inde i de hvide form-felter. border-radius runder hjørnerne. Margin placere kasserne i forhold til hinanden*/
.brugernavn,
.password,
.facebook {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: none;
    border-radius: 50px;
    margin: 0px auto 15px;
    color: ##EA5045;
}

/*noget der skulle være på til nogen browsere, noget med en grå kant. Men backets vil ikke fange ind input og gøre den gul som class'en, så den fanger den ikke. Og på Freja's kan vi ikke se hvad det er der sker*/
/*.login input:focus {
    outline: none;
}*/

/*relative for at fb img viser sig. text-align så den placerer sig i midten, sammen med line-heigt*/
.loginform .facebook {
    position: relative;
    border: 2px solid #EA5045;
    color: #EA5045;
    text-align: center;
    border-radius: 50px;
    line-height: 46px;
}

/*--- ::before laver et ekstra tag (en ekstra plads) foran. Det gøres sådan her for at jeg kan lægge billedet ind gennem css'en. content"" for at der findes en plads til img. backgroundsize som passer til height og width. absolut så img kommer frem. Left og top placerer img ude til venstre */
.loginform .facebook::before {
    position: absolute;
    left: 20px;
    top: 13px;
    content: "";
    height: 20px;
    width: 20px;
    background: url(assets/login/facebook.svg);
    background-size: 20px;
}

/*teksten kommer i midten i en block*/
.glemtpassword {
    display: block;
    text-align: center;
}


/*======== forsiden (med firkant-grid'et) ========*/

.forside {
    background-color: #c8d0d8;
}


/*grid som bestemmer at det kan opbygges i grid. 3 kollonner hen og 6 rækker ned. grid-gab=mellemrum mellem firkanterne. justefy-content for at grid placerer sig i midten. padding top grid placeres rigtigt i forhold til header/nav*/
.container {
    display: grid;
    grid-template-columns: 125px 125px 125px;
    grid-template-rows: 125px 125px 125px 125px 125px 125px;
    grid-gap: 10px;
    justify-content: center;
    padding-top: 30px;
    color: #EA847C;
    font-size: 12px;
    font-weight: bold;
}

/*none så der ikke kommer streg på link*/
a {
    color: #EA847C;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

/*grid inde i hver item kasse, center x 2 så det kommer i midten. padding så content i hvert grid presses tættere på hinanden*/
.item {
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 23px 0;
}

/*skal fylde 2 kollonner mod højre. fra kolonne 1.*/
.tech {
    grid-column: 1 / span 2;
    font-size: 20px;
    font-weight: bold;
}

/*skal fylde 2 kolonner og 2 rækker, start fra kolonne 2 og til højre og række 4og ned*/
.aktuelt {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
    font-size: 40px;
    font-weight: bold;
}

/*====== afleveringssiden ======*/

.aflevering {
    background-color: #c8d0d8;
}

/*på afleveringssiden og uploadsiden bruges paddingen til at komme på plads*/
.section_wrapper {
    padding: 20px;
}

/*max-width fylder op til 500px. Margin auto placerer section_wrapper i midten */
.aflevering .section_wrapper {
    max-width: 500px;
    margin: auto;
}

.theme_descr,
.next_assignment,
.upload_assignment {
    background-color: #F2F1F0;
    padding: 10px;
    height: 70px;
    margin: 10px 0;
}

.section_next,
.section_upload,
.section_previous {
    margin-top: 40px;
}

.previous_ass {
    padding: 10px;
    height: 70px;
    display: none;
}

h3,
p {
    margin: 7px;

}


/*gør at p og img ligger ved siden af hinanden som standard row*/
.col {
    display: flex;
}

.txt {
    flex-grow: 5;
}

.img {
    flex-grow: 1;


}

.img_link {
    background-image: url(assets/link_ikon.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;

}

.img_upload {
    background-image: url(assets/upload.svg);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
}

.img_arrow {
    background-image: url(assets/pil_ned.svg);

    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
}

.open .previous_ass {
    display: block;
}

.open .img_arrow {
    transform: rotate(180deg);
}


/*====== Uploadsiden =====*/

.upload {
    background-color: #c8d0d8;
}


.upload .section_wrapper {
    max-width: 500px;
    margin: auto;

}

.uploadform {
    display: flex;
    flex-direction: column;
}

.upload p {
    font-weight: bold;
    font-size: 13px;
    margin: 10px 0
}

.upload h2 {
    margin: 30px 0 7px 0;
    max-width: 500px;
}

.opgave,
.inset,
.gruppe {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    margin: 0px auto 15px;
    color: #000000;
}

.preview_container {
    width: 100px;
    text-align: center;
    align-self: flex-end;
    height: 40px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #ea5045;
    color: #ea5045;
    margin: 0 0 10px;
    background-color: white;


}

.aflever {
    background-color: #ea5045;
    color: white;
    display: block;
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding: 5px;
    border: none;
    border-radius: 50px;
    margin: 0 auto 15px;
    font-weight: bold;
}


/*noget der skulle være på til nogen browsere, noget med en grå kant. Men backets vil ikke fange ind input og gøre den gul som class'en, så den fanger den ikke. Og på Freja's kan vi ikke se hvad det er der sker (primært firefox og safari's ældre versioner) DEn skulle muligvis være lavet på alt*/
.upload input:focus {
    outline: none;
}

/*======== Media query ======*/


/*Når den bliver under 1199px får den de styles på der ligger herunder*/
@media (max-width: 1199px) {
    header {
        padding: 0 20px;
    }

    .menu_toggle {
        display: block;
    }

    /*burgermenuen slider ind fra højre. Hvis der ikke er minusset med 50px i height vil der være scroll på for di den så vl være for lang. - 50 er i forhold til top 50 og header/nav'en*/
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: #3F3140;
        top: 50px;
        left: 100%;
        transition: 0.5s;
    }

    /*burgermenuen fylder 0 så den fylder skærmen ud når den har fået classen active på via js*/
    header nav.active {
        left: 0px;
    }

    /*block=ligger under hinanden inde i burgermenuen*/
    header nav ul {
        display: block;
        text-align: center;
        padding-top: 25px;
    }

}

/*gør at der kan hovers og farverne ændres i menuen når den er i fuld skærm*/
@media (min-width: 1200px) {
    header nav ul li a:hover {
        color: #F58E81;
        background-color: #ffffff;
    }
}

/*det er blevet gjort lidt omvendt med media query'en. Al mobil ting skulle have været oppe i resten af koden og kun desktop ting som skulle ophæve mobil versionens styles, skulle være her nederst*/
